openapi: 3.1.0
info:
  title: Dwolla API
  description: Dwolla API Documentation
  contact:
    name: Dwolla Developer Relations Team
    url: https://developers.dwolla.com
    email: api@dwolla.com
  version: '2.0'
  termsOfService: https://www.dwolla.com/legal/tos/
  license:
    name: MIT
    url: https://github.com/Dwolla/dwolla-openapi/blob/master/LICENSE
jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base
servers:
  - url: https://api.dwolla.com
    description: Production server
  - url: https://api-sandbox.dwolla.com
    description: Sandbox server
security:
  - clientCredentials: []
tags:
  - name: tokens
    description: Operations related to Application Access Tokens
  - name: root
    description: Root API operations
  - name: accounts
    description: Operations related to Accounts
  - name: customers
    description: Operations related to Customers
  - name: kba
    description: Operations related to Knowledge-Based Authentication
  - name: beneficial owners
    description: Operations related to Beneficial Owners
  - name: documents
    description: Operations related to Documents
  - name: exchanges
    description: Operations related to Exchanges
  - name: exchange sessions
    description: Operations related to Exchange Sessions
  - name: funding sources
    description: Operations related to Funding Sources
  - name: transfers
    description: Operations related to Transfers
  - name: labels
    description: Operations related to Labels
  - name: mass payments
    description: Operations related to Mass Payments
  - name: events
    description: Operations related to Events
  - name: webhook subscriptions
    description: Operations related to Webhook Subscriptions
  - name: webhooks
    description: Operations related to Webhooks
  - name: client tokens
    description: Operations related to Client Tokens
paths:
  /token:
    post:
      tags:
        - tokens
      summary: Create an application access token
      description: Generates an access token that contains permissions scoped to the application owner's Dwolla Client Account.
      operationId: createApplicationAccessToken
      requestBody:
        required: true
        description: OAuth get token request. Client credentials are sent in the Authorization header using Basic authentication.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
              properties:
                grant_type:
                  type: string
                  enum:
                    - client_credentials
                  description: Must be set to "client_credentials"
                  example: client_credentials
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/json:
              schema:
                type: object
                required:
                  - access_token
                  - token_type
                  - expires_in
                properties:
                  access_token:
                    type: string
                    description: A new access token that is used to authenticate against resources that belong to the app itself.
                    example: gTm0p62yYXFiB1rOdhV0TsNOinC2V2P1CMaAtojkO9JEGbv3i5
                  token_type:
                    type: string
                    enum:
                      - bearer
                    description: The type of token, always "bearer"
                    example: bearer
                  expires_in:
                    type: integer
                    description: The lifetime of the access token, in seconds. Default is 3600.
                    example: 3599
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_client
  /:
    get:
      tags:
        - root
      summary: root
      description: The entry point that clients can use to discover and explore the entire API.
      operationId: getRoot
      x-speakeasy-name-override: get
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Root'
        '401':
          description: unauthorized
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: InvalidAccessToken
                  message:
                    type: string
                    example: Invalid access token.
      deprecated: false
  /accounts/{id}:
    get:
      tags:
        - accounts
      summary: Retrieve Account Details
      description: Retrieve basic account details belonging to the authorized Dwolla account.
      operationId: getAccount
      x-speakeasy-name-override: get
      parameters:
        - name: id
          in: path
          description: Account's unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Account'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to retrieve an Account by id.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /funding-sources:
    post:
      tags:
        - accounts
      summary: Create a funding source for an account
      description: Create a funding source for an account
      operationId: createFundingSource
      x-speakeasy-group: accounts.fundingSources
      x-speakeasy-name-override: create
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters for the funding source to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountFundingSource'
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '400':
          description: Bad request or duplicate resource
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BadRequestSchema'
                  - $ref: '#/components/schemas/DuplicateResourceSchema'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to create funding source.
  /accounts/{id}/funding-sources:
    get:
      tags:
        - accounts
      summary: List funding sources for an account
      description: List funding source for an account
      operationId: listFundingSources
      x-speakeasy-group: accounts.fundingSources
      x-speakeasy-name-override: list
      parameters:
        - name: id
          in: path
          description: Account's unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
        - name: removed
          in: query
          description: Filter removed funding sources. Boolean value. Defaults to `true`
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/FundingSources'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to list funding sources.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Account not found.
  /accounts/{id}/transfers:
    get:
      tags:
        - accounts
      summary: List and search transfers for an account
      description: List and search transfers for an account
      operationId: listAndSearchTransfers
      x-speakeasy-group: accounts.transfers
      x-speakeasy-name-override: list
      parameters:
        - name: id
          in: path
          description: Account's unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
        - name: search
          in: query
          description: A string to search on fields `firstName`, `lastName`, `email`, `businessName`, Customer ID, and Account ID
          required: false
          schema:
            type: string
        - name: startAmount
          in: query
          description: Only include transactions with an amount equal to or greater than `startAmount`
          required: false
          schema:
            type: string
        - name: endAmount
          in: query
          description: Only include transactions with an amount equal to or less than `endAmount`
          required: false
          schema:
            type: string
        - name: startDate
          in: query
          description: Only include transactions created after this date. ISO-8601 format `YYYY-MM-DD`
          required: false
          schema:
            type: string
        - name: endDate
          in: query
          description: Only include transactions created before this date. ISO-8601 format `YYYY-MM-DD`
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter on transaction status. Possible values are `pending`, `processed`, `failed`, or `cancelled`
          required: false
          schema:
            type: string
        - name: correlationId
          in: query
          description: A string value to search on if `correlationId` was specified for a transaction
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of search results to return. Defaults to 25
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Number of search results to skip. Use for pagination
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Transfers'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Account not found.
  /accounts/{id}/mass-payments:
    get:
      tags:
        - accounts
      summary: List mass payments for an account
      description: List mass payments for an account
      operationId: listMassPayments
      x-speakeasy-group: accounts.massPayments
      x-speakeasy-name-override: list
      parameters:
        - name: id
          in: path
          description: Account ID
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
        - name: limit
          in: query
          description: How many results to return.
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            default: 25
            example: 25
        - name: offset
          in: query
          description: How many results to skip.
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            default: 0
            example: 0
        - name: correlationId
          in: query
          description: Correlation ID to search by.
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/MassPayments'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to list mass payments.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Account not found.
  /customers:
    get:
      tags:
        - customers
      summary: List and search customers
      description: List and search customers allowing you to filter by email and status, as well as search on key fields such as firstName, lastName, and businessName.
      operationId: listAndSearchCustomers
      x-speakeasy-name-override: list
      parameters:
        - name: limit
          in: query
          description: How many results to return
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          description: How many results to skip
          required: false
          schema:
            type: integer
        - name: search
          in: query
          description: Searches on certain fields
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter by customer status
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Customers'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
    post:
      tags:
        - customers
      summary: Create a customer
      description: Create an unverified customer, verified customer, or receive-only user.
      operationId: createCustomer
      x-speakeasy-name-override: create
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters for customer to be created
        content:
          application/vnd.dwolla.v1.hal+json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CreateReceiveOnlyUser'
                - $ref: '#/components/schemas/CreateUnverifiedCustomer'
                - $ref: '#/components/schemas/CreateVerifiedPersonalCustomer'
                - $ref: '#/components/schemas/CreateVerifiedSolePropCustomer'
                - $ref: '#/components/schemas/CreateVerifiedBusinessCustomerWithController'
                - $ref: '#/components/schemas/CreateVerifiedBusinessCustomerWithInternationalController'
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to create customers.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: not found.
  /customers/{id}:
    get:
      tags:
        - customers
      summary: Retrieve a customer
      description: Retrieve details for a single customer
      operationId: getCustomer
      x-speakeasy-name-override: get
      parameters:
        - name: id
          in: path
          description: Customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/UnverifiedCustomer'
                  - $ref: '#/components/schemas/UnverifiedBusinessCustomer'
                  - $ref: '#/components/schemas/VerifiedPersonalCustomer'
                  - $ref: '#/components/schemas/VerifiedSolePropCustomer'
                  - $ref: '#/components/schemas/VerifiedBusinessCustomer'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to get a customer by id.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Customer not found.
    post:
      tags:
        - customers
      summary: Update a customer
      description: Update Customer information, upgrade an unverified Customer to a verified Customer, suspend a Customer, deactivate a Customer, reactivate a Customer, and update a verified Customer's information to retry verification.
      operationId: update
      parameters:
        - name: id
          in: path
          description: Customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters for updating a Customer
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/DeactivateCustomer'
                - $ref: '#/components/schemas/ReactivateCustomer'
                - $ref: '#/components/schemas/SuspendCustomer'
                - $ref: '#/components/schemas/UpdateUnverifiedAndReceiveOnly'
                - $ref: '#/components/schemas/UpdateVerifiedPersonal'
                - $ref: '#/components/schemas/UpdateVerifiedBusiness'
                - $ref: '#/components/schemas/UpgradeToVerifiedPersonal'
                - $ref: '#/components/schemas/UpgradeToVerifiedBusiness'
                - $ref: '#/components/schemas/UpgradeToVerifiedSoleProp'
                - $ref: '#/components/schemas/RetryVerifiedPersonal'
                - $ref: '#/components/schemas/RetryVerifiedBusiness'
                - $ref: '#/components/schemas/RetryVerifiedSoleProp'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/UnverifiedCustomer'
                  - $ref: '#/components/schemas/UnverifiedBusinessCustomer'
                  - $ref: '#/components/schemas/VerifiedPersonalCustomer'
                  - $ref: '#/components/schemas/VerifiedSolePropCustomer'
                  - $ref: '#/components/schemas/VerifiedBusinessCustomer'
        '400':
          description: bad request
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: badRequest
                  message:
                    type: string
                    example: Duplicate customer or validation error.
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to update a customer.
  /business-classifications:
    get:
      tags:
        - customers
      summary: List business classifications
      description: Retrieve an _embedded list of business classifications that contains an _embedded list of industry classifications.
      operationId: listBusinessClassifications
      x-speakeasy-group: businessClassifications
      x-speakeasy-name-override: list
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  _links:
                    type: object
                  _embedded:
                    type: object
                    properties:
                      business-classifications:
                        type: array
                        items:
                          $ref: '#/components/schemas/BusinessClassifications'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /business-classifications/{id}:
    get:
      tags:
        - customers
      summary: Retrieve a business classification
      description: Retrieve a business classification
      operationId: retrieveBusinessClassification
      x-speakeasy-group: businessClassifications
      x-speakeasy-name-override: get
      parameters:
        - name: id
          in: path
          description: business classification unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BusinessClassification'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  message:
                    type: string
                    example: not found.
  /customers/{id}/beneficial-owners:
    get:
      tags:
        - beneficial owners
      summary: List beneficial owners
      description: Retrieve a list of beneficial owners that belong to a Customer
      operationId: listBeneficialOwnersForCustomer
      x-speakeasy-group: customers.beneficialOwners
      x-speakeasy-name-override: list
      parameters:
        - name: id
          in: path
          description: Customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BeneficialOwners'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  message:
                    type: string
                    example: not found.
    post:
      tags:
        - beneficial owners
      summary: Create beneficial owner
      description: Create beneficial owner which is a natural person who, directly or indirectly, owns 25% or more of the equity interests of the company.
      operationId: createBeneficialOwnerForCustomer
      x-speakeasy-group: customers.beneficialOwners
      x-speakeasy-name-override: create
      parameters:
        - name: id
          in: path
          description: Customer ID for which to create a Beneficial Owner
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters for creating a beneficial owner
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CreateUSBeneficialOwner'
                - $ref: '#/components/schemas/CreateInternationalBeneficialOwner'
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /beneficial-owners/{id}:
    get:
      tags:
        - beneficial owners
      summary: Retrieve beneficial owner
      description: Retrieve details for a single beneficial owner
      operationId: retrieveBeneficialOwner
      x-speakeasy-group: beneficialOwners
      x-speakeasy-name-override: get
      parameters:
        - name: id
          in: path
          description: Beneficial owner unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BeneficialOwner'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  message:
                    type: string
                    example: not found.
    post:
      tags:
        - beneficial owners
      summary: Update beneficial owner
      description: Update beneficial owner
      operationId: updateBeneficialOwner
      x-speakeasy-group: beneficialOwners
      x-speakeasy-name-override: update
      parameters:
        - name: id
          in: path
          description: Beneficial owner unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters for updating a beneficial owner
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CreateUSBeneficialOwner'
                - $ref: '#/components/schemas/CreateInternationalBeneficialOwner'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BeneficialOwner'
        '400':
          description: ValidationError
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorSchema'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to update beneficial owner.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: owner not found.
    delete:
      tags:
        - beneficial owners
      summary: Delete beneficial owner
      description: Delete beneficial owner
      operationId: deleteBeneficialOwner
      x-speakeasy-group: beneficialOwners
      x-speakeasy-name-override: delete
      parameters:
        - name: id
          in: path
          description: Beneficial owner unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  message:
                    type: string
                    example: Beneficial owner not found.
  /customers/{id}/beneficial-ownership:
    get:
      tags:
        - beneficial owners
      summary: Retrieve beneficial ownership status
      description: Retrieve beneficial ownership status
      operationId: getBeneficialOwnershipStatusForCustomer
      x-speakeasy-group: beneficialOwners
      x-speakeasy-name-override: getOwnershipStatus
      parameters:
        - name: id
          in: path
          description: Customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BeneficialOwnership'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to get certification status.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  message:
                    type: string
                    example: Ownership certification status not found.
    post:
      tags:
        - beneficial owners
      summary: Certify beneficial ownership status
      description: certify beneficial ownership status
      operationId: certifyBeneficialOwnershipForCustomer
      x-speakeasy-group: beneficialOwners
      x-speakeasy-name-override: certifyOwnership
      parameters:
        - name: id
          in: path
          description: Customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters for certifying beneficial ownership for a Customer
        content:
          application/json:
            schema:
              required:
                - status
              type: object
              properties:
                status:
                  type: string
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BeneficialOwnership'
        '400':
          description: ValidationError
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorSchema'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Forbidden from updating beneficial ownership status for this customer.
  /customers/{id}/documents:
    get:
      tags:
        - documents
      summary: List documents for customer
      description: List documents for customer
      operationId: listCustomerDocuments
      x-speakeasy-group: customers.documents
      x-speakeasy-name-override: list
      parameters:
        - name: id
          in: path
          description: customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Documents'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    post:
      tags:
        - documents
      summary: Create a document for customer
      description: Create a document for customer
      operationId: createCustomerDocument
      x-speakeasy-group: customers.documents
      x-speakeasy-name-override: create
      parameters:
        - name: id
          in: path
          description: customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        description: Upload a document for a customer.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                documentType:
                  type: string
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/MaximumNumberOfResourcesSchema'
                  - $ref: '#/components/schemas/InvalidFileTypeSchema'
                  - $ref: '#/components/schemas/DuplicateResourceSchema'
        '403':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/InvalidResourceStateSchema'
                  - $ref: '#/components/schemas/NotAuthorizedSchema'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Customer not found. Check CustomerId.
        '413':
          description: request entity too large
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: fileTooLarge
                  message:
                    type: string
                    example: Document requests are limited to 10 MiB.
  /beneficial-owners/{id}/documents:
    get:
      tags:
        - documents
      summary: List document for beneficial owner
      description: List document for beneficial owner
      operationId: listBeneficialOwnerDocuments
      x-speakeasy-group: beneficialOwners.documents
      x-speakeasy-name-override: list
      parameters:
        - name: id
          in: path
          description: beneficial owner unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Documents'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    post:
      tags:
        - documents
      summary: Create a document for beneficial owner
      description: Create a document for beneficial owner
      operationId: createBeneficialOwnerDocument
      x-speakeasy-group: beneficialOwners.documents
      x-speakeasy-name-override: create
      parameters:
        - name: id
          in: path
          description: beneficial owner unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        description: Upload a document for a beneficial owner.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                documentType:
                  type: string
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: document created
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/MaximumNumberOfResourcesSchema'
                  - $ref: '#/components/schemas/InvalidFileTypeSchema'
                  - $ref: '#/components/schemas/DuplicateResourceSchema'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
        '413':
          description: request entity too large
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: fileTooLarge
                  message:
                    type: string
                    example: Document requests are limited to 10 MiB.
  /documents/{id}:
    get:
      tags:
        - documents
      summary: Retrieve a document
      description: Retrieve a document for a customer or beneficial owner
      operationId: getDocument
      x-speakeasy-name-override: get
      parameters:
        - name: id
          in: path
          description: Document unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Document'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /customers/{id}/kba:
    post:
      tags:
        - kba
      summary: Initiate a KBA session
      description: Initiate a KBA session
      operationId: initiateKbaForCustomer
      x-speakeasy-name-override: initiate
      parameters:
        - name: id
          in: path
          description: The ID of the Customer for initiating a KBA session
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '201':
          description: created
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '403':
          description: 403 Error
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/InvalidResourceStateSchema'
                  - $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: 404 Error
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /kba/{id}:
    get:
      tags:
        - kba
      summary: Retrieve KBA Questions
      description: Retrieve KBA Questions
      operationId: getKbaQuestions
      x-speakeasy-name-override: getQuestions
      parameters:
        - name: id
          in: path
          description: The ID of the KBA session to retrieve questions for
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  _links:
                    type: object
                    properties:
                      answer:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.dwolla.com/kba/62dac6f3-bf8f-4961-9af8-428de8ecd9a4
                          type:
                            type: string
                            example: application/vnd.dwolla.v1.hal+json
                          resource-type:
                            type: string
                            example: kba
                  id:
                    type: string
                    example: 62dac6f3-bf8f-4961-9af8-428de8ecd9a4
                  questions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 2355953375
                        text:
                          type: string
                          example: In what county do you currently live?
                        answers:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                example: 2687969295
                              text:
                                type: string
                                example: Pulaski
        '403':
          description: 403 Error
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: 404 Error
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NotFound
                  message:
                    type: string
                    example: KBA questions not found. Check KBA id.
    post:
      tags:
        - kba
      summary: Verify KBA Questions
      description: Verify KBA Questions
      operationId: verify
      x-speakeasy-name-override: verify
      parameters:
        - name: id
          in: path
          description: The id of the KBA session to verify questions for.
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters for verifying KBA questions
        content:
          application/json:
            schema:
              required:
                - answers
              type: object
              properties:
                answers:
                  type: array
                  items:
                    type: object
                    properties:
                      questionId:
                        type: string
                        example: 2355953375
                      answerId:
                        type: string
                        example: 2687969335
      responses:
        '200':
          description: created
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  _links:
                    type: object
                    properties:
                      customer:
                        type: object
                        properties:
                          href:
                            type: string
                            example: https://api.dwolla.com/customers/b5fd802d-d8c7-43ce-94a8-7c14485b7042
                          type:
                            type: string
                            example: application/vnd.dwolla.v1.hal+json
                          resource-type:
                            type: string
                            example: customer
                  verificationStatus:
                    type: string
                    example: verified
        '403':
          description: 403 Error
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ForbiddenError'
                  - $ref: '#/components/schemas/InvalidKbaSessionError'
                  - $ref: '#/components/schemas/ExpiredKbaSessionError'
        '404':
          description: 404 Error
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NotFound
                  message:
                    type: string
                    example: KBA session not found.
  /customers/{id}/funding-sources:
    get:
      tags:
        - funding sources
      summary: List customer funding sources
      description: List customer funding sources
      operationId: listCustomerFundingSources
      x-speakeasy-group: customers.fundingSources
      x-speakeasy-name-override: list
      parameters:
        - name: id
          in: path
          description: Customer funding sources
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundingSources'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to list funding sources.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Customer not found.
    post:
      tags:
        - funding sources
      summary: Create customer funding source
      description: |
        Create a new funding source for a customer.
        There are multiple methods available:
        - Basic bank funding source (with routing/account numbers)
        - Using an exchange
      operationId: createCustomerFundingSource
      x-speakeasy-group: customer.fundingSources
      x-speakeasy-name-override: create
      parameters:
        - name: id
          in: path
          description: Customer's unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        description: Parameters for creating a funding source
        required: true
        content:
          application/vnd.dwolla.v1.hal+json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CreateCustomerBankFundingSource'
                - $ref: '#/components/schemas/CreateCustomerExchangeFundingSource'
                - $ref: '#/components/schemas/CreateCustomerVirtualFundingSource'
      responses:
        '201':
          description: created
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '400':
          description: validation error
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/InactiveExchangeError'
                  - $ref: '#/components/schemas/InvalidExchangeTokenError'
                  - $ref: '#/components/schemas/DuplicateFundingSourceError'
        '403':
          description: forbidden
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Not authorized to create funding source.
        '404':
          description: not found
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NotFound
                  message:
                    type: string
                    example: Customer ID not found. Check Customer ID.
  /funding-sources/{id}:
    get:
      tags:
        - funding sources
      summary: Retrieve a funding source
      description: Retrieve a funding source
      operationId: getFundingSource
      x-speakeasy-group: fundingSources
      x-speakeasy-name-override: get
      parameters:
        - name: id
          in: path
          description: Funding source unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/FundingSource'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Funding source not found.
    post:
      tags:
        - funding sources
      summary: Update or remove a funding source
      description: Update or remove a funding source
      operationId: updateOrRemoveFundingSource
      x-speakeasy-group: fundingSources
      x-speakeasy-name-override: updateOrRemove
      parameters:
        - name: id
          in: path
          description: Funding source unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters to update a customer funding source
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/UpdateUnverifiedBank'
                - $ref: '#/components/schemas/UpdateVerifiedBank'
                - $ref: '#/components/schemas/RemoveBank'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
        '400':
          description: validation error
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: validationError
                  message:
                    type: string
                    example: Only funding sources of type="bank" can be updated.
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: InvalidResourceState
                  message:
                    type: string
                    example: A removed bank cannot be updated.
  /funding-sources/{id}/micro-deposits:
    get:
      tags:
        - funding sources
      summary: Retrieve micro-deposits details
      description: Retrieve micro-deposits details
      operationId: getMicroDeposits
      x-speakeasy-group: fundingSources
      parameters:
        - name: id
          in: path
          description: The ID of the FS that previously had micro-deposits initiated
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  _links:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HalLink'
                  created:
                    type: string
                    format: date-time
                    example: '2022-12-30T20:56:53.000Z'
                  status:
                    type: string
                    example: failed
                  failure:
                    type: object
                    properties:
                      code:
                        type: string
                        example: R03
                      description:
                        type: string
                        example: No Account/Unable to locate account
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    post:
      tags:
        - funding sources
      summary: Initiate or Verify micro-deposits
      description: |
        This endpoint handles two different actions:
        1. Initiating micro-deposits: No request body is required
        2. Verifying micro-deposits: Request body with micro-deposit amounts is required

        The action is determined by the presence of a request body:
        - If no request body is provided, the endpoint will initiate micro-deposits
        - If a request body with micro-deposit amounts is provided, the endpoint will verify the micro-deposits
      operationId: initiateOrVerifyMicroDeposits
      x-speakeasy-group: fundingSources
      parameters:
        - name: id
          in: path
          description: The ID of the FS to initiate or verify micro-deposit
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: false
        description: |
          Optional request body for verifying micro-deposits.
          - If omitted: Endpoint will initiate micro-deposits
          - If provided: Must contain micro-deposit amounts for verification
        content:
          application/json:
            schema:
              oneOf:
                - type:
                    - object
                    - 'null'
                  title: InitiateMicroDeposits
                  description: No request body is required for initiating micro-deposits.
                - $ref: '#/components/schemas/VerifyMicroDeposits'
                  description: Required request body for verifying micro-deposits
      responses:
        '201':
          description: created
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Funding source not found
  /funding-sources/{id}/balance:
    get:
      tags:
        - funding sources
      summary: Retrieve funding source balance
      description: Retrieve funding source balance
      operationId: getFundingSourceBalance
      x-speakeasy-group: fundingSources
      x-speakeasy-name-override: getBalance
      parameters:
        - name: id
          in: path
          description: ID of funding source to retrieve the balance for
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - title: Dwolla Balance Response
                    description: Response for retrieving balance of a Dwolla Balance funding source
                    type: object
                    properties:
                      _links:
                        type: object
                        additionalProperties:
                          $ref: '#/components/schemas/HalLink'
                      balance:
                        type: object
                        properties:
                          value:
                            type: string
                            example: '4616.87'
                          currency:
                            type: string
                            example: USD
                      total:
                        type: object
                        properties:
                          value:
                            type: string
                            example: '4616.87'
                          currency:
                            type: string
                            example: USD
                      lastUpdated:
                        type: string
                        example: '2017-04-18T15:20:25.880Z'
                  - title: Bank Balance Response
                    description: Response for retrieving balance of a bank account verified through Open Banking
                    type: object
                    properties:
                      _links:
                        type: object
                        properties:
                          self:
                            type: object
                            properties:
                              href:
                                type: string
                                example: https://api.dwolla.com/funding-sources/42f48a64-2a9b-40df-9777-603ed2fe2764/balance
                              type:
                                type: string
                                example: application/vnd.dwolla.v1.hal+json
                              resource-type:
                                type: string
                                example: balance
                          funding-source:
                            type: object
                            properties:
                              href:
                                type: string
                                example: https://api.dwolla.com/funding-sources/42f48a64-2a9b-40df-9777-603ed2fe2764
                              type:
                                type: string
                                example: application/vnd.dwolla.v1.hal+json
                              resource-type:
                                type: string
                                example: funding-source
                      available:
                        type: object
                        properties:
                          value:
                            type: string
                            example: '542.00'
                          currency:
                            type: string
                            example: USD
                      closing:
                        type: object
                        properties:
                          value:
                            type: string
                            example: '542.00'
                          currency:
                            type: string
                            example: USD
                      lastUpdated:
                        type: string
                        example: '2024-09-09T16:39:14.219Z'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Funding source not found.
  /funding-sources/{id}/ach-routing:
    get:
      tags:
        - funding sources
      summary: Retrieve VAN account and routing numbers
      description: Retrieve account and routing numbers for a VAN (Virtual Account Number)
      operationId: getVanRouting
      x-speakeasy-group: fundingSources
      parameters:
        - name: id
          in: path
          description: ID of VAN funding source to retrieve ACH details
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  _links:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HalLink'
                  accountNumber:
                    type: string
                    example: '9619991490430833'
                  routingNumber:
                    type: string
                    example: '084106768'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Funding source not found.
  /transfers:
    post:
      tags:
        - transfers
      summary: Initiate a transfer
      description: Initiate a transfer
      operationId: initiateTransfer
      x-speakeasy-name-override: create
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters to initiate a transfer
        content:
          application/json:
            schema:
              required:
                - _links
                - amount
              type: object
              properties:
                _links:
                  type: object
                  properties:
                    source:
                      type: object
                      properties:
                        href:
                          type: string
                    destination:
                      type: object
                      properties:
                        href:
                          type: string
                amount:
                  $ref: '#/components/schemas/TransferAmount'
                metadata:
                  type: object
                fees:
                  type: array
                  items:
                    type: object
                    properties:
                      _links:
                        type: object
                        properties:
                          charge-to:
                            type: object
                            properties:
                              href:
                                type: string
                      amount:
                        type: object
                        properties:
                          amount:
                            type: string
                          currency:
                            type: string
                clearing:
                  type: object
                  properties:
                    source:
                      type: string
                    destination:
                      type: string
                achDetails:
                  type: object
                  properties:
                    source:
                      type: object
                      properties:
                        addenda:
                          type: object
                          properties:
                            values:
                              type: array
                              items:
                                type: string
                    destination:
                      type: object
                      properties:
                        addenda:
                          type: object
                          properties:
                            values:
                              type: array
                              items:
                                type: string
                rtpDetails:
                  type: object
                  properties:
                    destination:
                      type: object
                      properties:
                        remittanceData:
                          type: string
                correlationId:
                  type: string
                processingChannel:
                  type: object
                  properties:
                    destination:
                      type: string
                      example: real-time-payments
      responses:
        '201':
          description: created
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SourceNotFoundError'
                  - $ref: '#/components/schemas/ReceiverNotFoundError'
                  - $ref: '#/components/schemas/InvalidSourceFundingSourceError'
                  - $ref: '#/components/schemas/SenderRestrictedError'
                  - $ref: '#/components/schemas/ReceiverRestrictedError'
                  - $ref: '#/components/schemas/InvalidMetadataError'
                  - $ref: '#/components/schemas/OperationBlockedError'
                  - $ref: '#/components/schemas/InvalidAmountLimitError'
                  - $ref: '#/components/schemas/CannotParseAmountError'
                  - $ref: '#/components/schemas/InsufficientFundsError'
                  - $ref: '#/components/schemas/FacilitatorFeeAccountNotFoundError'
                  - $ref: '#/components/schemas/FacilitatorFeeSumTooLargeError'
                  - $ref: '#/components/schemas/FacilitatorFeeBelowMinimumError'
                  - $ref: '#/components/schemas/HighRiskError'
                  - $ref: '#/components/schemas/IncompatibleHoldingsError'
                  - $ref: '#/components/schemas/DirectAccountWithoutBankError'
                  - $ref: '#/components/schemas/SourceSameAsDestinationError'
                  - $ref: '#/components/schemas/InvalidFacilitatorError'
                  - $ref: '#/components/schemas/InvalidFacilitatorFeeCollectFromError'
                  - $ref: '#/components/schemas/InvalidFacilitatorFeeCollectFromCombinationError'
                  - $ref: '#/components/schemas/InvalidDestinationFundingSourceError'
                  - $ref: '#/components/schemas/InvalidFacilitatorFeeAmountError'
                  - $ref: '#/components/schemas/WeeklyReceiveLimitReachedError'
                  - $ref: '#/components/schemas/InvalidDestinationClearingTypeError'
                  - $ref: '#/components/schemas/InvalidAmountForDestinationClearingTypeError'
                  - $ref: '#/components/schemas/InvalidCorrelationIdError'
                  - $ref: '#/components/schemas/SourceAddendaMaxLengthError'
                  - $ref: '#/components/schemas/DestinationAddendaMaxLengthError'
                  - $ref: '#/components/schemas/AchAddendaEntriesNotEnabledForAccountError'
                  - $ref: '#/components/schemas/PointOfSaleAddendaEntriesNotEnabledForAccountError'
                  - $ref: '#/components/schemas/IncompatibleAddendaEntriesError'
                  - $ref: '#/components/schemas/InvalidPointOfSaleAddendaIdentificationCodeError'
                  - $ref: '#/components/schemas/InvalidPointOfSaleAddendaSerialNumberError'
                  - $ref: '#/components/schemas/InvalidPointOfSaleAddendaDateError'
                  - $ref: '#/components/schemas/InvalidPointOfSaleAddendaAddressError'
                  - $ref: '#/components/schemas/InvalidPointOfSaleAddendaCityError'
                  - $ref: '#/components/schemas/InvalidPointOfSaleAddendaStateError'
                  - $ref: '#/components/schemas/TransferExpiredForFeeError'
                  - $ref: '#/components/schemas/InvalidFeeOdfiError'
                  - $ref: '#/components/schemas/InvalidSourceBankAccountTypeError'
                  - $ref: '#/components/schemas/InvalidDestinationBankAccountTypeError'
                  - $ref: '#/components/schemas/IncompatibleSourceAndDestinationTypesError'
                  - $ref: '#/components/schemas/IncompatibleSourceForRtpDestinationError'
                  - $ref: '#/components/schemas/InvalidAmountForDestinationProcessingChannelError'
                  - $ref: '#/components/schemas/RtpFacilitatorFeeNotSupportedError'
                  - $ref: '#/components/schemas/RtpUnverifiedSenderNotSupportedError'
                  - $ref: '#/components/schemas/RtpPersonalToPersonalNotSupportedError'
                  - $ref: '#/components/schemas/DestinationProcessingChannelNotSupportedError'
                  - $ref: '#/components/schemas/DestinationRemittanceDataMaxLengthError'
                  - $ref: '#/components/schemas/WithdrawInvalidAmountError'
                  - $ref: '#/components/schemas/WithdrawInvalidFundingSourceError'
                  - $ref: '#/components/schemas/WithdrawAccountRestrictedError'
                  - $ref: '#/components/schemas/WithdrawInvalidAmountForClearingTypeError'
                  - $ref: '#/components/schemas/WithdrawInvalidWireBeneficiaryLocalityError'
                  - $ref: '#/components/schemas/WithdrawInvalidWireBeneficiaryRegionError'
                  - $ref: '#/components/schemas/WithdrawInvalidWireBeneficiaryCountryError'
                  - $ref: '#/components/schemas/WithdrawInvalidWireOriginatorToBeneficiaryError'
                  - $ref: '#/components/schemas/WithdrawProcessingChannelNotSupportedError'
                  - $ref: '#/components/schemas/WithdrawRtpUnverifiedSenderNotSupportedError'
                  - $ref: '#/components/schemas/WithdrawRtpPersonalWithdrawalNotSupportedError'
                  - $ref: '#/components/schemas/DepositAccountRestrictedError'
                  - $ref: '#/components/schemas/WireInvalidImadError'
                  - $ref: '#/components/schemas/WireAccountRestrictedError'
                  - $ref: '#/components/schemas/WireNotEnabledError'
                  - $ref: '#/components/schemas/WireAccountNotFoundError'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/InvalidAttemptToFacilitateFundsError'
                  - $ref: '#/components/schemas/InvalidAttemptToPayInFundsError'
                  - $ref: '#/components/schemas/InvalidAttemptToPayOutFundsError'
                  - $ref: '#/components/schemas/RtpAccountSettingNotEnabledError'
        '429':
          description: Too Many Requests
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsErrorError'
  /transfers/{id}:
    get:
      tags:
        - transfers
      summary: Retrieve a transfer
      description: Retrieve a transfer
      operationId: getTransfer
      x-speakeasy-name-override: get
      parameters:
        - name: id
          in: path
          description: ID of transfer to be retrieved
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Transfer'
        '404':
          description: 404 Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    post:
      tags:
        - transfers
      summary: Cancel a transfer
      description: Cancel a transfer
      operationId: cancelTransfer
      x-speakeasy-name-override: cancel
      parameters:
        - name: id
          in: path
          description: ID of transfer
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters to cancel a transfer
        content:
          application/json:
            schema:
              required:
                - status
              type: object
              properties:
                status:
                  type: string
                  const: cancelled
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
        '400':
          description: 400 Bad Request
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BadRequestError'
                  - $ref: '#/components/schemas/StatusInvalidError'
                  - $ref: '#/components/schemas/StatusNotAllowedError'
        '404':
          description: 404 Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /customers/{id}/transfers:
    get:
      tags:
        - transfers
      summary: List and search transfers for a customer
      description: List and search transfers for a customer
      operationId: listCustomerTransfers
      x-speakeasy-group: customer.transfers
      x-speakeasy-name-override: list
      parameters:
        - name: id
          in: path
          description: Customer's unique identifier
          required: true
          schema:
            type: string
        - name: search
          in: query
          description: A string to search on fields `firstName`, `lastName`, `email`, `businessName`
          required: false
          schema:
            type: string
        - name: startAmount
          in: query
          description: Only include transactions with an amount equal to or greater than `startAmount`
          required: false
          schema:
            type: string
        - name: endAmount
          in: query
          description: Only include transactions with an amount equal to or less than `endAmount`
          required: false
          schema:
            type: string
        - name: startDate
          in: query
          description: Only include transactions created after this date. ISO-8601 format `YYYY-MM-DD`
          required: false
          schema:
            type: string
        - name: endDate
          in: query
          description: Only include transactions created before this date. ISO-8601 format `YYYY-MM-DD`
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter on transaction status. Possible values are `pending`, `processed`, `failed`, or `cancelled`
          required: false
          schema:
            type: string
        - name: correlationId
          in: query
          description: A string value to search on if `correlationId` was specified for a transaction
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of search results to return. Defaults to 25
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Number of search results to skip. Use for pagination
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Transfers'
        '404':
          description: 404 Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /transfers/{id}/fees:
    get:
      tags:
        - transfers
      summary: List fees for a transfer
      description: List fees for a transfer
      operationId: listTransferFees
      x-speakeasy-name-override: listFees
      parameters:
        - name: id
          in: path
          description: ID of transfer to retrieve fees for
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      type: object
                      properties:
                        _links:
                          type: object
                          additionalProperties:
                            $ref: '#/components/schemas/HalLink'
                        id:
                          type: string
                          example: 416a2857-c887-4cca-bd02-8c3f75c4bb0e
                        status:
                          type: string
                          example: pending
                        amount:
                          type: object
                          properties:
                            value:
                              type: string
                              example: '2.00'
                            currency:
                              type: string
                              example: USD
                        created:
                          type: string
                          format: date-time
                          example: '2016-02-22T20:46:38.777Z'
                  total:
                    type: string
                    example: '1'
        '404':
          description: 404 Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /transfers/{id}/failure:
    get:
      tags:
        - transfers
      summary: Retrieve a transfer failure reason
      description: Retrieve a transfer failure reason
      operationId: getTransferFailureReason
      x-speakeasy-name-override: getFailureReason
      parameters:
        - name: id
          in: path
          description: Transfer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  _links:
                    type: object
                    additionalProperties:
                      $ref: '#/components/schemas/HalLink'
                  code:
                    type: string
                    example: R03
                  description:
                    type: string
                    example: No Account/Unable to Locate Account
                  explanation:
                    type: string
                    example: The account number does not correspond to the individual identified in the entry or a valid account.
        '403':
          description: 403 Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: 404 Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /on-demand-authorizations:
    post:
      tags:
        - transfers
      summary: Create an on-demand transfer authorization
      description: Create an on-demand transfer authorization
      operationId: createOnDemandTransferAuthorization
      x-speakeasy-name-override: createOnDemandAuthorization
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: Ok
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/OnDemandAuthorization'
        '403':
          description: 403 Error
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
  /mass-payments:
    post:
      tags:
        - mass payments
      summary: Initiate a mass payment
      description: Initiate a mass payment
      operationId: initiateMassPayment
      x-speakeasy-group: massPayments
      x-speakeasy-name-override: create
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters for initiating a mass payment
        content:
          application/json:
            schema:
              required:
                - _links
                - items
              type: object
              properties:
                _links:
                  type: object
                  properties:
                    source:
                      type: object
                      properties:
                        href:
                          type: string
                          example: https://api.dwolla.com/funding-sources/707177c3-bf15-4e7e-b37c-55c3898d9bf4
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      _links:
                        type: object
                        properties:
                          destination:
                            type: object
                            properties:
                              href:
                                type: string
                                example: https://api.dwolla.com/funding-sources/9c7f8d57-cd45-4e7a-bf7a-914dbd6131db
                      amount:
                        $ref: '#/components/schemas/TransferAmount'
                      processingChannel:
                        type: object
                        properties:
                          destination:
                            type: string
                            example: real-time-payments
                      metadata:
                        type: object
                      clearing:
                        type: object
                        properties:
                          destination:
                            type: string
                            example: next-available
                      achDetails:
                        type: object
                        properties:
                          destination:
                            type: object
                            properties:
                              addenda:
                                type: object
                                properties:
                                  values:
                                    type: array
                                    items:
                                      type: string
                                      example: XYZ987_AddendaValue
                      correlationId:
                        type: string
                        example: ad6ca82d-59f7-45f0-a8d2-94c2cd4e8841
                status:
                  type: string
                  example: deferred
                achDetails:
                  type: object
                  properties:
                    source:
                      type: object
                      properties:
                        addenda:
                          type: object
                          properties:
                            values:
                              type: array
                              items:
                                type: string
                                example: ZYX987_AddendaValue
                clearing:
                  type: object
                  properties:
                    source:
                      type: string
                      example: next-available
                metadata:
                  type: object
                correlationId:
                  type: string
                  example: ad6ca82d-59f7-45f0-a8d2-94c2cd4e8841
      responses:
        '201':
          description: created
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Not authorized to create mass payment
  /mass-payments/{id}:
    get:
      tags:
        - mass payments
      summary: Retrieve a mass payment
      description: Retrieve a mass payment
      operationId: getMassPayment
      x-speakeasy-group: massPayments
      x-speakeasy-name-override: get
      parameters:
        - name: id
          in: path
          description: Mass payment unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/MassPayment'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Not authorized to retrieve mass payment
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NotFound
                  message:
                    type: string
                    example: Mass payment not found
    post:
      tags:
        - mass payments
      summary: Update a mass payment
      description: This section covers how to update a mass payment's status to `pending` which triggers processing on a created and deferred mass payment, or `cancelled` which cancels a created and deferred mass payment.
      operationId: updateMassPayment
      x-speakeasy-group: massPayments
      x-speakeasy-name-override: update
      parameters:
        - name: id
          in: path
          description: ID of mass payment to update
          required: true
          schema:
            type: string
      requestBody:
        required: true
        description: Parameters for updating a mass payment
        content:
          application/json:
            schema:
              required:
                - status
              type: object
              properties:
                status:
                  type: string
                  example: pending
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/MassPayment'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Not authorized to update mass payment
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: NotFound
                  message:
                    type: string
                    example: Mass payment not found
  /mass-payments/{id}/items:
    get:
      tags:
        - mass payments
      summary: List items for a mass payment
[...]
