openapi: 3.1.0
info:
  title: Dwolla API
  description: Dwolla API Documentation
  contact:
    name: Dwolla Developer Relations Team
    url: https://developers.dwolla.com
    email: api@dwolla.com
  version: '2.0'
  termsOfService: https://www.dwolla.com/legal/tos/
  license:
    name: MIT
    url: https://github.com/Dwolla/dwolla-openapi/blob/master/LICENSE
jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base
servers:
  - url: https://api.dwolla.com
    description: Production server
  - url: https://api-sandbox.dwolla.com
    description: Sandbox server
security:
  - clientCredentials: []
tags:
  - name: tokens
    description: Operations related to Application Access Tokens
  - name: root
    description: Root API operations
  - name: accounts
    description: Operations related to Accounts
  - name: customers
    description: Operations related to Customers
  - name: kba
    description: Operations related to Knowledge-Based Authentication
  - name: beneficial owners
    description: Operations related to Beneficial Owners
  - name: documents
    description: Operations related to Documents
  - name: exchanges
    description: Operations related to Exchanges
  - name: exchange sessions
    description: Operations related to Exchange Sessions
  - name: funding sources
    description: Operations related to Funding Sources
  - name: transfers
    description: Operations related to Transfers
  - name: labels
    description: Operations related to Labels
  - name: mass payments
    description: Operations related to Mass Payments
  - name: events
    description: Operations related to Events
  - name: webhook subscriptions
    description: Operations related to Webhook Subscriptions
  - name: webhooks
    description: Operations related to Webhooks
  - name: client tokens
    description: Operations related to Client Tokens
  - name: sandbox simulations
    description: Sandbox-only operations for simulating processing of bank transfers
paths:
  /token:
    post:
      tags:
        - tokens
      summary: Create an application access token
      description: Generate an application access token using OAuth 2.0 client credentials flow for server-to-server authentication. Requires client ID and secret sent via Basic authentication header with grant_type=client_credentials in the request body. Returns a bearer access token with expiration time for authenticating API requests scoped to your application. Essential for secure API access.
      operationId: createApplicationAccessToken
      x-speakeasy-group: tokens
      x-speakeasy-name-override: create
      x-codeSamples:
        - lang: bash
          source: |
            POST https://api-sandbox.dwolla.com/token
            Authorization: Basic YkVEMGJMaEFhb0pDamplbmFPVjNwMDZSeE9Eb2pyOUNFUzN1dldXcXUyeE9RYk9GeUE6WEZ0bmJIbXR3dXEwNVI1Yk91WmVOWHlqcW9RelNSc21zUU5qelFOZUFZUlRIbmhHRGw=
            Content-Type: application/x-www-form-urlencoded

            grant_type=client_credentials
        - lang: javascript
          source: |
            // Using DwollaV2 - https://github.com/Dwolla/dwolla-v2-node
            // This example assumes you've already initialized the client. Reference the SDKs page for more information: https://developers.dwolla.com/sdks-tools
            client.auth
              .client()
              .then(function (appToken) {
                return appToken.get("/");
              })
              .then(function (res) {
                console.log(JSON.stringify(res.body));
              });
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            // This example assumes you've already initialized the client. Reference the SDKs page for more information: https://developers.dwolla.com/sdks-tools
            app_token = client.Auth.client()
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            // This example assumes you've already intialized the client. Reference the SDKs page for more information: https://developers.dwolla.com/sdks-tools
            $tokensApi = new DwollaSwagger\TokensApi($apiClient);
            $appToken = $tokensApi->token();

            DwollaSwagger\Configuration::$access_token = $appToken->access_token;
            ?>
        - lang: ruby
          source: |
            # Using DwollaV2 - https://github.com/Dwolla/dwolla-v2-ruby
            // This example assumes you've already initialized the client. Reference the SDKs page for more information: https://developers.dwolla.com/sdks-tools
            app_token = $dwolla.auths.client
            # => #<DwollaV2::Token client=#<DwollaV2::Client id="..." secret="..." environment=:sandbox> access_token="..." expires_in=3600 scope="...">
      requestBody:
        required: true
        description: OAuth get token request. Client credentials are sent in the Authorization header using Basic authentication.
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
              properties:
                grant_type:
                  type: string
                  enum:
                    - client_credentials
                  description: Must be set to "client_credentials"
                  example: client_credentials
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/json:
              schema:
                type: object
                required:
                  - access_token
                  - token_type
                  - expires_in
                properties:
                  access_token:
                    type: string
                    description: A new access token that is used to authenticate against resources that belong to the app itself.
                    example: gTm0p62yYXFiB1rOdhV0TsNOinC2V2P1CMaAtojkO9JEGbv3i5
                  token_type:
                    type: string
                    enum:
                      - bearer
                    description: The type of token, always "bearer"
                    example: bearer
                  expires_in:
                    type: integer
                    description: The lifetime of the access token, in seconds. Default is 3600.
                    example: 3599
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid_client
  /:
    get:
      tags:
        - root
      summary: root
      description: Retrieve the API root entry point to discover available resources and endpoints based on your OAuth access token permissions. Returns HAL+JSON with navigation links to accessible resources including accounts, customers, events, and webhook subscriptions depending on token scope. Essential for API exploration, dynamic resource discovery, and building adaptive client applications that respond to available permissions.
      operationId: getRoot
      x-speakeasy-name-override: get
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            dwolla.get("/").then((res) => res.body._links.account.href); // => 'https://api-sandbox.dwolla.com/accounts/ad5f2162-404a-4c4c-994e-6ab6c3a13254'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            root = app_token.get('/')
            root.body['_links']['account']['href'] # => 'https://api-sandbox.dwolla.com/accounts/ad5f2162-404a-4c4c-994e-6ab6c3a13254'
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $rootApi = new DwollaSwagger\RootApi($apiClient);

            $root = $rootApi->root();
            $accountUrl = $root->_links["account"]->href; # => "https://api-sandbox.dwolla.com/accounts/ad5f2162-404a-4c4c-994e-6ab6c3a13254"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            root = app_token.get "/"
            root._links.account.href # => "https://api-sandbox.dwolla.com/accounts/ad5f2162-404a-4c4c-994e-6ab6c3a13254"
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Root'
        '401':
          description: unauthorized
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: InvalidAccessToken
                  message:
                    type: string
                    example: Invalid access token.
      deprecated: false
  /accounts/{id}:
    get:
      tags:
        - accounts
      summary: Retrieve account details
      description: Returns basic account information for your authorized Main Dwolla Account, including account ID, name, and links to related resources such as funding sources, transfers, and customers.
      operationId: getAccount
      x-speakeasy-name-override: get
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/accounts/ca32853c-48fa-40be-ae75-77b37504581b
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var accountUrl = "https://api-sandbox.dwolla.com/accounts/ca32853c-48fa-40be-ae75-77b37504581b";

            dwolla.get(accountUrl).then((res) => res.body.name); // => 'Jane Doe'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            account_url = 'https://api-sandbox.dwolla.com/accounts/ca32853c-48fa-40be-ae75-77b37504581b'

            account = app_token.get(account_url)
            account.body['name']
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $accountUrl = 'https://api-sandbox.dwolla.com/accounts/ca32853c-48fa-40be-ae75-77b37504581b';

            $accountsApi = new DwollaSwagger\AccountsApi($apiClient);

            $account = $accountsApi->id($accountUrl);
            print($account->name); # => "Jane Doe"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            account_url = 'https://api-sandbox.dwolla.com/accounts/ca32853c-48fa-40be-ae75-77b37504581b'

            account = app_token.get account_url
            account.name # => "Jane Doe"
      parameters:
        - name: id
          in: path
          description: Account's unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Account'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to retrieve an Account by id.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /funding-sources:
    post:
      tags:
        - accounts
      summary: Create a funding source for an account
      description: |
        Create a funding source by adding a bank account to a Main Dwolla Account. This endpoint allows you to connect a checking or savings account using either manual bank account details or an exchange resource.

        For more information about funding sources, see the [Funding Sources API Reference](https://developers.dwolla.com/docs/api-reference/funding-sources).
      operationId: createFundingSource
      x-speakeasy-group: accounts.fundingSources
      x-speakeasy-name-override: create
      x-codeSamples:
        - lang: bash
          source: |
            POST https://api-sandbox.dwolla.com/funding-sources
            Content-Type: application/vnd.dwolla.v1.hal+json
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
            {
                "routingNumber": "222222226",
                "accountNumber": "123456789",
                "bankAccountType": "checking",
                "name": "My Bank"
            }
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var requestBody = {
              routingNumber: "222222226",
              accountNumber: "123456789",
              bankAccountType: "checking",
              name: "My Bank",
            };

            dwolla
              .post("funding-sources", requestBody)
              .then((res) => res.headers.get("location")); // => 'https://api-sandbox.dwolla.com/funding-sources/04173e17-6398-4d36-a167-9d98c4b1f1c3'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            request_body = {
              'routingNumber': '222222226',
              'accountNumber': '123456789',
              'bankAccountType': 'checking',
              'name': 'My Bank'
            }

            funding_source = app_token.post('funding-sources', request_body)
            funding_source.headers['location'] # => 'https://api-sandbox.dwolla.com/funding-sources/04173e17-6398-4d36-a167-9d98c4b1f1c3'
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $fundingApi = new DwollaSwagger\FundingsourcesApi($apiClient);

            $fundingSource = $fundingApi->createFundingSource([
              "routingNumber" => "222222226",
              "accountNumber" => "123456789",
              "bankAccountType" => "checking",
              "name" => "My Bank"
            ]);
            $fundingSource; # => "https://api-sandbox.dwolla.com/funding-sources/04173e17-6398-4d36-a167-9d98c4b1f1c3"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            request_body = {
              routingNumber: '222222226',
              accountNumber: '123456789',
              bankAccountType: 'checking',
              name: 'My Bank'
            }

            funding_source = app_token.post "funding-sources", request_body
            funding_source.response_headers[:location] # => "https://api-sandbox.dwolla.com/funding-sources/04173e17-6398-4d36-a167-9d98c4b1f1c3"
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters for the funding source to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountFundingSource'
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '400':
          description: Bad request or duplicate resource
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/BadRequestSchema'
                  - $ref: '#/components/schemas/DuplicateResourceSchema'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to create funding source.
  /accounts/{id}/funding-sources:
    get:
      tags:
        - accounts
      summary: List funding sources for an account
      description: |
        Get a list of all funding sources associated with a specific Main Dwolla Account. This endpoint returns both bank accounts and balance funding sources, with detailed information about each funding source's status, type, and available processing channels.
      operationId: listFundingSources
      x-speakeasy-group: accounts.fundingSources
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/funding-sources
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            dwolla
              .get("accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/funding-sources")
              .then((res) => res.body.total); // => 1
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            funding_sources = app_token.get('accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/funding-sources')
            funding_sources.body['total'] # => 1
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $fundingApi = new DwollaSwagger\FundingsourcesApi($apiClient);

            $fundingSources = $fundingApi->getAccountFundingSources("CA366CA3-6D30-44D6-B0F3-8D86C64462A1");
            $fundingSources->total; # => 1
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            funding_sources = app_token.get "accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/funding-sources"
            funding_sources.total # => 1
      parameters:
        - name: id
          in: path
          description: Account's unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
        - name: removed
          in: query
          description: Filter removed funding sources. Boolean value. Defaults to `true`
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/FundingSources'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to list funding sources.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Account not found.
  /accounts/{id}/transfers:
    get:
      tags:
        - accounts
      summary: List and search account transfers
      description: Returns a paginated, searchable list of transfers associated with the specified Main Dwolla account. Supports advanced filtering by amount range, date range, transfer status, and correlation ID. Results are limited to 10,000 transfers per query; use date range filters for historical data beyond this limit.
      operationId: listAndSearchTransfers
      x-speakeasy-group: accounts.transfers
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/transfers
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            dwolla
              .get("accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/transfers")
              .then((res) => res.body.total); // => 1
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            transfers = app_token.get('accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/transfers')
            transfers.body['total'] # => 1
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $transfersApi = new DwollaSwagger\TransfersApi($apiClient);

            $transfers = $transfersApi->getAccountTransfers("CA366CA3-6D30-44D6-B0F3-8D86C64462A1");
            $transfers->total; # => 1
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            transfers = app_token.get "accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/transfers"
            transfers.total # => 1
      parameters:
        - name: id
          in: path
          description: Account's unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
        - name: search
          in: query
          description: A string to search on fields `firstName`, `lastName`, `email`, `businessName`, Customer ID, and Account ID
          required: false
          schema:
            type: string
        - name: startAmount
          in: query
          description: Only include transactions with an amount equal to or greater than `startAmount`
          required: false
          schema:
            type: string
        - name: endAmount
          in: query
          description: Only include transactions with an amount equal to or less than `endAmount`
          required: false
          schema:
            type: string
        - name: startDate
          in: query
          description: Only include transactions created after this date. ISO-8601 format `YYYY-MM-DD`
          required: false
          schema:
            type: string
        - name: endDate
          in: query
          description: Only include transactions created before this date. ISO-8601 format `YYYY-MM-DD`
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter on transaction status. Possible values are `pending`, `processed`, `failed`, or `cancelled`
          required: false
          schema:
            type: string
        - name: correlationId
          in: query
          description: A string value to search on if `correlationId` was specified for a transaction
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of search results to return. Defaults to 25
          required: false
          schema:
            type: string
        - name: offset
          in: query
          description: Number of search results to skip. Use for pagination
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Transfers'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Account not found.
  /accounts/{id}/mass-payments:
    get:
      tags:
        - accounts
      summary: List account mass payments
      description: Returns a paginated list of mass payments created by your Main Dwolla account. Results are sorted by creation date in descending order (newest first) and can be filtered by correlation ID.
      operationId: listMassPayments
      x-speakeasy-group: accounts.massPayments
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/mass-payments
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            dwolla
              .get("accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/mass-payments")
              .then((res) => res.body.total); // => 1
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            mass_payments = app_token.get('accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/mass-payments')
            mass_payments.body['total'] # => 1
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $massPaymentsApi = new DwollaSwagger\MasspaymentsApi($apiClient);

            $massPayments = $massPaymentsApi->getAccountMassPayments("CA366CA3-6D30-44D6-B0F3-8D86C64462A1");
            $massPayments->total; # => 1
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            mass_payments = app_token.get "accounts/CA366CA3-6D30-44D6-B0F3-8D86C64462A1/mass-payments"
            mass_payments.total # => 1
      parameters:
        - name: id
          in: path
          description: Account's unique identifier
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
        - name: limit
          in: query
          description: Maximum number of results to return
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            default: 25
            example: 25
        - name: offset
          in: query
          description: How many results to skip.
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            default: 0
            example: 0
        - name: correlationId
          in: query
          description: Correlation ID to search by.
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/MassPayments'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to list mass payments.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Account not found.
  /customers:
    get:
      tags:
        - customers
      summary: List and search customers
      description: Returns a paginated list of customers sorted by creation date. Supports fuzzy search across customer names, business names, and email addresses, plus exact filtering by email and verification status. Default limit is 25 customers per page, maximum 200.
      operationId: listAndSearchCustomers
      x-speakeasy-name-override: list
      parameters:
        - name: limit
          in: query
          description: How many results to return
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          description: How many results to skip
          required: false
          schema:
            type: integer
        - name: search
          in: query
          description: Searches on certain fields
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter by customer status
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Customers'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
    post:
      tags:
        - customers
      summary: Create a customer
      description: Creates a new customer with different verification levels and capabilities. Supports personal verified customers (individuals), business verified customers (businesses), unverified customers, and receive-only users. Customer type determines transaction limits, verification requirements, and available features.
      operationId: createCustomer
      x-speakeasy-name-override: create
      parameters:
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters for customer to be created
        content:
          application/vnd.dwolla.v1.hal+json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CreateReceiveOnlyUser'
                - $ref: '#/components/schemas/CreateUnverifiedCustomer'
                - $ref: '#/components/schemas/CreateVerifiedPersonalCustomer'
                - $ref: '#/components/schemas/CreateVerifiedSolePropCustomer'
                - $ref: '#/components/schemas/CreateVerifiedBusinessCustomerWithController'
                - $ref: '#/components/schemas/CreateVerifiedBusinessCustomerWithInternationalController'
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to create customers.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: not found.
  /customers/{id}:
    get:
      tags:
        - customers
      summary: Retrieve a customer
      description: Retrieve identifying information for a specific customer. The returned data varies by customer type - verified customers include contact details, address information, and verification status, while unverified customers and receive-only users contain basic contact information only.
      operationId: getCustomer
      x-speakeasy-name-override: get
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/customers/FC451A7A-AE30-4404-AB95-E3553FCD733F
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            dwolla
              .get("customers/FC451A7A-AE30-4404-AB95-E3553FCD733F")
              .then((res) => res.body);
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            customer = app_token.get('customers/FC451A7A-AE30-4404-AB95-E3553FCD733F')
            customer.body
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $customersApi = new DwollaSwagger\CustomersApi($apiClient);
            $customer = $customersApi->getCustomer("FC451A7A-AE30-4404-AB95-E3553FCD733F");
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            customer = app_token.get "customers/FC451A7A-AE30-4404-AB95-E3553FCD733F"
      parameters:
        - name: id
          in: path
          description: Customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/UnverifiedCustomer'
                  - $ref: '#/components/schemas/UnverifiedBusinessCustomer'
                  - $ref: '#/components/schemas/VerifiedPersonalCustomer'
                  - $ref: '#/components/schemas/VerifiedSolePropCustomer'
                  - $ref: '#/components/schemas/VerifiedBusinessCustomer'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to get a customer by id.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Customer not found.
    post:
      tags:
        - customers
      summary: Update a customer
      description: Update Customer information, upgrade an unverified Customer to a verified Customer, suspend a Customer, deactivate a Customer, reactivate a Customer, and update a verified Customer's information to retry verification.
      operationId: update
      x-codeSamples:
        - lang: bash
          source: |
            POST https://api-sandbox.dwolla.com/customers/FC451A7A-AE30-4404-AB95-E3553FCD733F
            Content-Type: application/json
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY

            {
              "firstName": "John",
              "lastName": "Doe",
              "email": "johndoe@example.com"
            }
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            dwolla
              .post("customers/FC451A7A-AE30-4404-AB95-E3553FCD733F", {
                firstName: "John",
                lastName: "Doe",
                email: "johndoe@example.com"
              })
              .then((res) => res.body);
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            customer = app_token.post('customers/FC451A7A-AE30-4404-AB95-E3553FCD733F', {
                'firstName': 'John',
                'lastName': 'Doe',
                'email': 'johndoe@example.com'
            })
            customer.body
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $customersApi = new DwollaSwagger\CustomersApi($apiClient);
            $customer = $customersApi->updateCustomer("FC451A7A-AE30-4404-AB95-E3553FCD733F", [
                'firstName' => 'John',
                'lastName' => 'Doe',
                'email' => 'johndoe@example.com'
            ]);
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            customer = app_token.post "customers/FC451A7A-AE30-4404-AB95-E3553FCD733F", {
              firstName: "John",
              lastName: "Doe",
              email: "johndoe@example.com"
            }
      parameters:
        - name: id
          in: path
          description: Customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters for updating a Customer
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/DeactivateCustomer'
                - $ref: '#/components/schemas/ReactivateCustomer'
                - $ref: '#/components/schemas/SuspendCustomer'
                - $ref: '#/components/schemas/UpdateUnverifiedAndReceiveOnly'
                - $ref: '#/components/schemas/UpdateVerifiedPersonal'
                - $ref: '#/components/schemas/UpdateVerifiedBusiness'
                - $ref: '#/components/schemas/UpgradeToVerifiedPersonal'
                - $ref: '#/components/schemas/UpgradeToVerifiedBusiness'
                - $ref: '#/components/schemas/UpgradeToVerifiedSoleProp'
                - $ref: '#/components/schemas/RetryVerifiedPersonal'
                - $ref: '#/components/schemas/RetryVerifiedBusinessNoController'
                - $ref: '#/components/schemas/RetryVerifiedBusinessWithController'
                - $ref: '#/components/schemas/RetryVerifiedBusinessWithInternationalController'
                - $ref: '#/components/schemas/RetryVerifiedSoleProp'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/UnverifiedCustomer'
                  - $ref: '#/components/schemas/UnverifiedBusinessCustomer'
                  - $ref: '#/components/schemas/VerifiedPersonalCustomer'
                  - $ref: '#/components/schemas/VerifiedSolePropCustomer'
                  - $ref: '#/components/schemas/VerifiedBusinessCustomer'
        '400':
          description: bad request
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: badRequest
                  message:
                    type: string
                    example: Duplicate customer or validation error.
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to update a customer.
  /business-classifications:
    get:
      tags:
        - customers
      summary: List business classifications
      description: Returns a directory of business and industry classifications required for creating business verified customers. Each business classification contains multiple industry classifications. The industry classification ID must be provided in the businessClassification parameter during business customer creation for verification.
      operationId: listBusinessClassifications
      x-speakeasy-group: businessClassifications
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/business-classifications
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            dwolla
              .get("business-classifications")
              .then((res) => res.body._embedded["business-classifications"][0].name); // => 'Accommodation and Food Services'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            classifications = app_token.get('business-classifications')
            classifications.body['_embedded']['business-classifications'][0]['name'] # => 'Accommodation and Food Services'
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $businessClassificationsApi = new DwollaSwagger\BusinessClassificationsApi($apiClient);
            $classifications = $businessClassificationsApi->_list();
            $classifications->_embedded->{'business-classifications'}[0]->name; # => "Accommodation and Food Services"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            classifications = app_token.get "business-classifications"
            classifications._embedded.['business-classifications'][0].name # => "Accommodation and Food Services"
      parameters:
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BusinessClassifications'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /business-classifications/{id}:
    get:
      tags:
        - customers
      summary: Retrieve a business classification
      description: Returns a specific business classification with its embedded industry classifications. Use this endpoint to browse available industry options within a business category and obtain the industry classification ID required for the businessClassification parameter when creating business verified customers.
      operationId: retrieveBusinessClassification
      x-speakeasy-group: businessClassifications
      x-speakeasy-name-override: get
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/business-classifications/9ed3f670-7d6f-11e3-b1ce-5404a6144203
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            dwolla
              .get("business-classifications/9ed3f670-7d6f-11e3-b1ce-5404a6144203")
              .then((res) => res.body.name); // => 'Accommodation and Food Services'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            classification = app_token.get('business-classifications/9ed3f670-7d6f-11e3-b1ce-5404a6144203')
            classification.body['name'] # => 'Accommodation and Food Services'
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $businessClassificationsApi = new DwollaSwagger\BusinessClassificationsApi($apiClient);
            $classification = $businessClassificationsApi->getBusinessClassification("9ed3f670-7d6f-11e3-b1ce-5404a6144203");
            $classification->name; # => "Accommodation and Food Services"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            classification = app_token.get "business-classifications/9ed3f670-7d6f-11e3-b1ce-5404a6144203"
            classification.name # => "Accommodation and Food Services"
      parameters:
        - name: id
          in: path
          description: business classification unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BusinessClassification'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  message:
                    type: string
                    example: not found.
  /customers/{id}/beneficial-owners:
    get:
      tags:
        - beneficial owners
      summary: List customer beneficial owners
      description: Returns all beneficial owners associated with a business verified customer. Beneficial owners are individuals who directly or indirectly own 25% or more of the company's equity. Includes personal information, verification status, and address details for each owner.
      operationId: listBeneficialOwnersForCustomer
      x-speakeasy-group: customers.beneficialOwners
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/customers/81696e5d-a593-45a6-8863-3c20ad634de5/beneficial-owners
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var customerUrl = "https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2";

            token
              .get(`${customerUrl}/beneficial-owners`)
              .then((res) => res.body._embedded["beneficial-owners"][0].id);
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            customer_url = 'https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2'

            beneficial_owners = app_token.get('%s/beneficial-owners' % customer_url)
            beneficial_owners.body['id']
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $customersApi = new DwollaSwagger\CustomersApi($apiClient);

            $customerUrl = 'https://api-sandbox.dwolla.com/customers/81696e5d-a593-45a6-8863-3c20ad634de5';
            $beneficialOwnerList = $customersApi->getBeneficialOwners($customerUrl);
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            customer_url = 'https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2'

            beneficial_owners = app_token.get "#{customer_url}/beneficial-owners"
            beneficial_owners._embedded['beneficial-owners'][0].id
      parameters:
        - name: id
          in: path
          description: Customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BeneficialOwners'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  message:
                    type: string
                    example: not found.
    post:
      tags:
        - beneficial owners
      summary: Create customer beneficial owner
      description: Creates a new beneficial owner for a business verified customer. Beneficial owners are individuals who own 25% or more of the company's equity. Requires personal information, address, and SSN or passport for identity verification.
      operationId: createBeneficialOwnerForCustomer
      x-speakeasy-group: customers.beneficialOwners
      x-speakeasy-name-override: create
      x-codeSamples:
        - lang: bash
          source: |
            POST https://api-sandbox.dwolla.com/customers/81696e5d-a593-45a6-8863-3c20ad634de5/beneficial-owners
            Content-Type: application/vnd.dwolla.v1.hal+json
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY

            {
              "firstName": "document",
              "lastName": "owner",
              "ssn": "123-46-7890",
              "dateOfBirth": "1960-11-30",
              "address": {
                "address1": "123 Main St.",
                "city": "New York",
                "stateProvinceRegion": "NY",
                "country": "US",
                "postalCode": "10005"
              }
            }
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var customerUrl = 'https://api-sandbox.dwolla.com/customers/07d59716-ef22-4fe6-98e8-f3190233dfb8';
            var requestBody = {
              firstName: 'John',
              lastName: 'Doe',
              dateOfBirth: '1970-01-01',
              ssn: '123-56-7890',
              address: {
                address1: '99-99 33rd St',
                city: 'Some City',
                stateProvinceRegion: 'NY',
                country: 'US',
                postalCode: '11101'
              }
            };

            dwolla
              .post(`${customerUrl}/beneficial-owners`, requestBody)
              .then(res => res.headers.get('location'));
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            customer_url = 'https://api-sandbox.dwolla.com/customers/AB443D36-3757-44C1-A1B4-29727FB3111C'
            request_body = {
              'firstName': 'John',
              'lastName': 'Doe',
              'dateOfBirth': '1970-01-01',
              'ssn': '123-46-7890',
              'address': {
                'address1': '99-99 33rd St',
                'city': 'Some City',
                'stateProvinceRegion': 'NY',
                'country': 'US',
                'postalCode': '11101'
              }
            }

            beneficial_owner = app_token.post('%s/beneficial-owners' % customer_url, request_body)
            beneficial_owner.headers['location']
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $customersApi = new DwollaSwagger\CustomersApi($apiClient);
            $verified_customer = 'https://api-sandbox.dwolla.com/customers/81696e5d-a593-45a6-8863-3c20ad634de5';

            $addOwner = $customersApi->addBeneficialOwner([
                  'firstName' => 'document',
                  'lastName'=> 'owner',
                  'dateOfBirth' => '1990-11-11',
                  'ssn' => '123-34-9876',
                  'address' =>
                  [
                      'address1' => '18749 18th st',
                      'address2' => 'apt 12',
                      'address3' => '',
                      'city' => 'Des Moines',
                      'stateProvinceRegion' => 'IA',
                      'postalCode' => '50265',
                      'country' => 'US'
                  ],
              ], $verified_customer);
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            customer_url = 'https://api-sandbox.dwolla.com/customers/81696e5d-a593-45a6-8863-3c20ad634de5'
            request_body = {
              :firstName => 'John',
              :lastName => 'Doe',
              :ssn => '123-46-7890',
              :dateOfBirth => '1970-01-01',
              :address => {
                :address1 => '99-99 33rd St',
                :city => 'Some City',
                :stateProvinceRegion => 'NY',
                :country => 'US',
                :postalCode => '11101'
              }
            }

            beneficial_owner = app_token.post "#{customer_url}/beneficial-owners", request_body
            beneficial_owner.response_headers[:location]
      parameters:
        - name: id
          in: path
          description: Customer ID for which to create a Beneficial Owner
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters for creating a beneficial owner
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CreateUSBeneficialOwner'
                - $ref: '#/components/schemas/CreateInternationalBeneficialOwner'
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
  /beneficial-owners/{id}:
    get:
      tags:
        - beneficial owners
      summary: Retrieve beneficial owner
      description: Returns detailed information for a specific beneficial owner, including personal information, address, and verification status. The verification status indicates the owner's identity verification progress and affects the business customer's transaction capabilities.
      operationId: retrieveBeneficialOwner
      x-speakeasy-group: beneficialOwners
      x-speakeasy-name-override: get
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/beneficial-owners/976a4c14-b183-40e9-b2df-ddbb3e794d3f
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var beneficialOwnerUrl = "https://api-sandbox.dwolla.com/beneficial-owners/07d59716-ef22-4fe6-98e8-f3190233dfb8";

            dwolla.get(beneficialOwnerUrl).then((res) => res.body.firstName); // => 'Jane'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            beneficial_owner_url = 'https://api-sandbox.dwolla.com/beneficial-owners/07d59716-ef22-4fe6-98e8-f3190233dfB8'

            beneficial_owner = app_token.get(beneficial_owner_url)
            beneficial_owner.body['firstName']
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $beneficialOwnersApi = new DwollaSwagger\BeneficialownersApi($apiClient);

            $beneficialOwnerUrl = 'https://api-sandbox.dwolla.com/beneficial-owners/07d59716-ef22-4fe6-98e8-f3190233dfB8';
            $beneficialOwner = $beneficialOwnersApi->getById($beneficialOwnerUrl);
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            beneficial_owner_url = 'https://api-sandbox.dwolla.com/beneficial-owners/07d59716-ef22-4fe6-98e8-f3190233dfB8'

            beneficial_owner = app_token.get beneficial_owner_url
            beneficial_owner.firstName # => "Jane"
      parameters:
        - name: id
          in: path
          description: Beneficial owner unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BeneficialOwner'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  message:
                    type: string
                    example: not found.
    post:
      tags:
        - beneficial owners
      summary: Update beneficial owner
      description: Updates a beneficial owner's information to retry verification when their status is "incomplete". Only beneficial owners with incomplete verification status can be updated. Used to correct information that caused initial verification to fail.
      operationId: updateBeneficialOwner
      x-speakeasy-group: beneficialOwners
      x-speakeasy-name-override: update
      x-codeSamples:
        - lang: bash
          source: |
            POST https://api-sandbox.dwolla.com/beneficial-owners/07d59716-ef22-4fe6-98e8-f3190233dfb8
            Content-Type: application/vnd.dwolla.v1.hal+json
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY

            {
              "firstName": "beneficial",
              "lastName": "owner",
              "ssn": "123-54-6789",
              "dateOfBirth": "1963-11-11",
              "address": {
                "address1": "123 Main St.",
                "address2": "Apt 123",
                "city": "Des Moines",
                "stateProvinceRegion": "IA",
                "country": "US",
                "postalCode": "50309"
              }
            }
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var beneficialOwnerUrl = 'https://api-sandbox.dwolla.com/beneficial-owners/07d59716-ef22-4fe6-98e8-f3190233dfb8';
            var requestBody = {
              firstName: 'beneficial',
              lastName: 'owner',
              dateOfBirth: '1963-11-11',
              ssn: '123-54-6789',
              address: {
                address1: '123 Main St',
                city: 'Des Moines',
                stateProvinceRegion: 'IA',
                country: 'US',
                postalCode: '50309'
              }
            };

            dwolla
              .post(beneficialOwnerUrl, requestBody)
              .then(res => res.body.id); // => '00cb67f2-768c-4ee3-ac81-73bc4faf9c2b'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            beneficial_owner_url = 'https://api-sandbox.dwolla.com/beneficial-owners/07d59716-ef22-4fe6-98e8-f3190233dfb8'
            request_body = {
              'firstName': 'beneficial',
              'lastName': 'owner',
              'dateOfBirth': '1963-11-11',
              'ssn': '123-54-6789',
              'address': {
                'address1': '123 Main St',
                'city': 'Des Moines',
                'stateProvinceRegion': 'IA',
                'country': 'US',
                'postalCode': '50309'
              }
            }

            update_beneficial_owner = app_token.post(beneficial_owner_url, request_body)
            update_beneficial_owner.body['id'] # => '00cb67f2-768c-4ee3-ac81-73bc4faf9c2b'
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $beneficialOwnersApi = new DwollaSwagger\BeneficialownersApi($apiClient);

            $beneficialOwnerUrl = 'https://api-sandbox.dwolla.com/beneficial-owners/07d59716-ef22-4fe6-98e8-f3190233dfb8';
            $updateBeneficialOwner = $beneficialOwnersApi->update([
                  'firstName' => 'beneficial',
                  'lastName'=> 'owner',
                  'dateOfBirth' => '1963-11-11',
                  'ssn' => '123-54-6789',
                  'address' =>
                  [
                      'address1' => '123 Main St.',
                      'address2' => 'Apt 123',
                      'city' => 'Des Moines',
                      'stateProvinceRegion' => 'IA',
                      'postalCode' => '50309',
                      'country' => 'US'
                  ],
              ], $beneficialOwnerUrl);

            $updateBeneficialOwner->id; # => "00cb67f2-768c-4ee3-ac81-73bc4faf9c2b"
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            beneficial_owner_url = 'https://api-sandbox.dwolla.com/beneficial-owners/07d59716-ef22-4fe6-98e8-f3190233dfb8'
            request_body = {
              :firstName => 'beneficial',
              :lastName => 'owner',
              :ssn => '123-54-6789',
              :dateOfBirth => '1963-11-11',
              :address => {
                :address1 => '123 Main St',
                :city => 'Des Moines',
                :stateProvinceRegion => 'IA',
                :country => 'US',
                :postalCode => '50309'
              }
            }

            update_beneficial_owner = app_token.post beneficial_owner_url, request_body
            update_beneficial_owner.id # => "00cb67f2-768c-4ee3-ac81-73bc4faf9c2b"
      parameters:
        - name: id
          in: path
          description: Beneficial owner unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters for updating a beneficial owner
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/CreateUSBeneficialOwner'
                - $ref: '#/components/schemas/CreateInternationalBeneficialOwner'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BeneficialOwner'
        '400':
          description: ValidationError
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorSchema'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to update beneficial owner.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: owner not found.
    delete:
      tags:
        - beneficial owners
      summary: Remove beneficial owner
      description: Permanently removes a beneficial owner from a business customer. This action is irreversible and the beneficial owner cannot be retrieved after removal. Removing a beneficial owner will change the customer's certification status to "recertify".
      operationId: deleteBeneficialOwner
      x-speakeasy-group: beneficialOwners
      x-speakeasy-name-override: delete
      x-codeSamples:
        - lang: bash
          source: |
            DELETE https://api-sandbox.dwolla.com/beneficial-owners/692486f8-29f6-4516-a6a5-c69fd2ce854c
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var beneficialOwnerUrl = "https://api-sandbox.dwolla.com/beneficial-owners/692486f8-29f6-4516-a6a5-c69fd2ce854c";

            dwolla.delete(beneficialOwnerUrl);
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            beneficial_owner_url = 'https://api-sandbox.dwolla.com/beneficial-owners/692486f8-29f6-4516-a6a5-c69fd2ce854c'

            app_token.delete(beneficial_owner_url)
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $beneficialOwnersApi = new DwollaSwagger\BeneficialownersApi($apiClient);
            $beneficialOwner = 'https://api-sandbox.dwolla.com/beneficial-owners/692486f8-29f6-4516-a6a5-c69fd2ce854c';
            $deletedBeneficialOwner = $beneficialOwnersApi->deleteById($beneficialOwner);
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            beneficial_owner_url = 'https://api-sandbox.dwolla.com/beneficial-owners/692486f8-29f6-4516-a6a5-c69fd2ce854c'

            app_token.delete beneficial_owner_url
      parameters:
        - name: id
          in: path
          description: Beneficial owner unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  message:
                    type: string
                    example: Beneficial owner not found.
  /customers/{id}/beneficial-ownership:
    get:
      tags:
        - beneficial owners
      summary: Retrieve beneficial ownership status
      description: Returns the certification status of beneficial ownership for a business verified customer. Status indicates whether beneficial owner information has been certified and affects the customer's ability to send funds. Possible values include uncertified, certified, and recertify.
      operationId: getBeneficialOwnershipStatusForCustomer
      x-speakeasy-group: customers.beneficialOwnership
      x-speakeasy-name-override: get
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/customers/56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc/beneficial-ownership
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var customerUrl = "https://api-sandbox.dwolla.com/customers/56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc";

            dwolla
              .get(`${customerUrl}/beneficial-ownership`)
              .then((res) => res.body.status); // => "uncertified"
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            customer_url = 'https://api-sandbox.dwolla.com/customers/56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc'

            beneficial_ownership = app_token.get('%s/beneficial-ownership' % customer_url)
            beneficial_ownership.body['status'] # => 'uncertified'
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $customersApi = new DwollaSwagger\CustomersApi($apiClient);

            $newCustomer = 'https://api-sandbox.dwolla.com/customers/56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc';
            $customerOwnershipStatus = $customersApi->getOwnershipStatus($newCustomer);
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            customer_url = 'https://api-sandbox.dwolla.com/customers/56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc'

            beneficial_ownership = app_token.get "#{customer_url}/beneficial-ownership"
            beneficial_ownership.status # => "uncertified"
      parameters:
        - name: id
          in: path
          description: Customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BeneficialOwnership'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Not authorized to get certification status.
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  message:
                    type: string
                    example: Ownership certification status not found.
    post:
      tags:
        - beneficial owners
      summary: Certify beneficial ownership
      description: Updates the beneficial ownership certification status to "certified", confirming that all beneficial owner information is accurate and complete. This action enables the business customer to send funds and is required to complete the verification process.
      operationId: certifyBeneficialOwnershipForCustomer
      x-speakeasy-group: customers.beneficialOwnership
      x-speakeasy-name-override: certify
      x-codeSamples:
        - lang: bash
          source: |
            POST https://api-sandbox.dwolla.com/customers/56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc/beneficial-ownership
            Accept: application/vnd.dwolla.v1.hal+json
            Content-Type: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLf/wKehyh1RTpzjUj5KzIRfDi0wKTii7DqY

            {
              "status": "certified"
            }
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var customerUrl = "https://api-sandbox.dwolla.com/customers/e52006c3-7560-4ff1-99d5-b0f3a6f4f909";
            var requestBody = {
              status: "certified",
            };

            dwolla.post(`${customerUrl}/beneficial-ownership`, requestBody);
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            customer_url = 'https://api-sandbox.dwolla.com/customers/e52006c3-7560-4ff1-99d5-b0f3a6f4f909'
            request_body = {
                "status": "certified"
            }

            app_token.post('%s/beneficial-ownership' % customer_url, request_body)
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $customersApi = new DwollaSwagger\CustomersApi($apiClient);
            $customerId = 'https://api-sandbox.dwolla.com/customers/e52006c3-7560-4ff1-99d5-b0f3a6f4f909';
            $certifyCustomer = $customersApi->changeOwnershipStatus(['status' => 'certified' ], $customerId);
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            customer_url = 'https://api-sandbox.dwolla.com/customers/e52006c3-7560-4ff1-99d5-b0f3a6f4f909'
            request_body = {
              :status => "certified"
            }

            app_token.post "#{customer_url}/beneficial-ownership", request_body
      parameters:
        - name: id
          in: path
          description: Customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        required: true
        description: Parameters for certifying beneficial ownership for a Customer
        content:
          application/json:
            schema:
              required:
                - status
              type: object
              properties:
                status:
                  type: string
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/BeneficialOwnership'
        '400':
          description: ValidationError
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorSchema'
        '403':
          description: forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  message:
                    type: string
                    example: Forbidden from updating beneficial ownership status for this customer.
  /customers/{id}/documents:
    get:
      tags:
        - documents
      summary: List documents for customer
      description: Returns all identity verification documents submitted for a customer. Includes document status, verification results, document type (passport, driver's license, etc.), and failure reasons if verification was rejected. Used to track document submission and verification progress during the business verification process.
      operationId: listCustomerDocuments
      x-speakeasy-group: customers.documents
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2/documents
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLfwKehyh1RTpzjUj5KzIRfDi0wKTii7DqY

            ...

            {
              "_links": {
                "self": {
                  "href": "https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2/documents"
                }
              },
              "_embedded": {
                "documents": [
                  {
                    "_links": {
                      "self": {
                        "href": "https://api-sandbox.dwolla.com/documents/56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc"
                      }
                    },
                    "id": "56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc",
                    "status": "pending",
                    "type": "passport",
                    "created": "2015-09-29T21:42:16.000Z",
                    "documentVerificationStatus": "pending"
                  },
                  {
                    "_links": {
                        "self": {
                            "href": "https://api-sandbox.dwolla.com/documents/20988444-c7e1-40cf-ab1a-a20da878e568",
                            "type": "application/vnd.dwolla.v1.hal+json",
                            "resource-type": "document"
                        }
                    },
                    "id": "20988444-c7e1-40cf-ab1a-a20da878e568",
                    "status": "reviewed",
                    "type": "license",
                    "created": "2019-05-30T22:01:40.000Z",
                    "documentVerificationStatus": "rejected",
                    "failureReason": "ScanDobMismatch",
                    "allFailureReasons": [
                        {
                            "reason": "ScanDobMismatch",
                            "description": "Scan DOB does not match DOB on account"
                        },
                        {
                            "reason": "ScanIdExpired",
                            "description": "ID is expired or missing expiration date"
                        }
                    ]
                  }
                ]
              },
              "total": 2
            }
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var customerUrl =
              "https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2";

            dwolla
              .get(`${customerUrl}/documents`)
              .then((res) => res.body._embedded["documents"][0].id); // => '56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            customer_url = 'https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2'

            documents = app_token.get('%s/documents' % customer_url)
            documents.body['total'] # => 2
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $customerUrl = 'https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2';

            $customersApi = new DwollaSwagger\CustomersApi($apiClient);

            $customer = $customersApi->getCustomerDocuments($customerUrl);
            $customer->total; # => 2
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            customer_url = 'https://api-sandbox.dwolla.com/customers/176878b8-ecdb-469b-a82b-43ba5e8704b2'

            documents = app_token.get "#{customer_url}/documents"
            documents._embedded['documents'][0].id # => "56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc"
      parameters:
        - name: id
          in: path
          description: customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Documents'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    post:
      tags:
        - documents
      summary: Create a document for customer
      description: Uploads an identity verification document for a customer using multipart form-data. Required when a customer has "document" status during the verification process.
      operationId: createCustomerDocument
      x-speakeasy-group: customers.documents
      x-speakeasy-name-override: create
      x-codeSamples:
        - lang: bash
          source: |
            curl -X POST
            \ -H "Authorization: Bearer tJlyMNW6e3QVbzHjeJ9JvAPsRglFjwnba4NdfCzsYJm7XbckcR"
            \ -H "Accept: application/vnd.dwolla.v1.hal+json"
            \ -H "Cache-Control: no-cache"
            \ -H "Content-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW"
            \ -F "documentType=passport"
            \ -F "file=@foo.png"
            \ 'https://api-sandbox.dwolla.com/customers/1de32eC7-ff0b-4c0c-9f09-19629e6788ce/documents'

            ...

            HTTP/1.1 201 Created
            Location: https://api-sandbox.dwolla.com/documents/11fe0bab-39bd-42ee-bb39-275afcc050d0
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            // Using form-data - https://github.com/form-data/form-data (Not Maintained By Dwolla)
            var customerUrl = "https://api-sandbox.dwolla.com/customers/1de32eC7-ff0b-4c0c-9f09-19629e6788ce";

            var requestBody = new FormData();
            requestBody.append("file", fs.createReadStream("mclovin.jpg"), {
              filename: "mclovin.jpg",
              contentType: "image/jpeg",
              knownLength: fs.statSync("mclovin.jpg").size,
            });
            requestBody.append("documentType", "license");

            dwolla
              .post(`${customerUrl}/documents`, requestBody)
              .then((res) => res.headers.get("location")); // => "https://api-sandbox.dwolla.com/documents/fb919e0b-ffbe-4268-b1e2-947b44328a16"
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            customer_url = 'https://api-sandbox.dwolla.com/customers/1de32eC7-ff0b-4c0c-9f09-19629e6788ce'

            document = app_token.post('%s/documents' % customer_url, file = open('mclovin.jpg', 'rb'), documentType = 'license')
            document.headers['location'] # => 'https://api-sandbox.dwolla.com/documents/fb919e0b-ffbe-4268-b1e2-947b44328a16'
        - lang: php
          source: |
            /**
             * No example for this language yet.
             **/
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            customer_url = 'https://api-sandbox.dwolla.com/customers/1de32eC7-ff0b-4c0c-9f09-19629e6788ce'

            file = Faraday::UploadIO.new('mclovin.jpg', 'image/jpeg')
            document = app_token.post "#{customer_url}/documents", file: file, documentType: 'license'
            document.response_headers[:location] # => "https://api.dwolla.com/documents/fb919e0b-ffbe-4268-b1e2-947b44328a16"
      parameters:
        - name: id
          in: path
          description: customer unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        description: Upload a document for a customer.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                documentType:
                  type: string
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: successful operation
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '400':
          description: Bad Request
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/MaximumNumberOfResourcesSchema'
                  - $ref: '#/components/schemas/InvalidFileTypeSchema'
                  - $ref: '#/components/schemas/DuplicateResourceSchema'
        '403':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/InvalidResourceStateSchema'
                  - $ref: '#/components/schemas/NotAuthorizedSchema'
        '404':
          description: not found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: notFound
                  message:
                    type: string
                    example: Customer not found. Check CustomerId.
        '413':
          description: request entity too large
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: fileTooLarge
                  message:
                    type: string
                    example: Document requests are limited to 10 MiB.
  /beneficial-owners/{id}/documents:
    get:
      tags:
        - documents
      summary: List documents for beneficial owner
      description: Returns all identity verification documents submitted for a beneficial owner. Includes document status, verification results, document type (passport, driver's license, etc.), and failure reasons if verification was rejected. Used to track document submission and verification progress during the business verification process.
      operationId: listBeneficialOwnerDocuments
      x-speakeasy-group: beneficialOwners.documents
      x-speakeasy-name-override: list
      x-codeSamples:
        - lang: bash
          source: |
            GET https://api-sandbox.dwolla.com/beneficial-owners/176878b8-ecdb-469b-a82b-43ba5e8704b2/documents
            Accept: application/vnd.dwolla.v1.hal+json
            Authorization: Bearer pBA9fVDBEyYZCEsLfwKehyh1RTpzjUj5KzIRfDi0wKTii7DqY

            ...

            {
              "_links": {
                "self": {
                  "href": "https://api-sandbox.dwolla.com/beneficial-owners/176878b8-ecdb-469b-a82b-43ba5e8704b2/documents"
                }
              },
              "_embedded": {
                "documents": [
                  {
                    "_links": {
                      "self": {
                        "href": "https://api-sandbox.dwolla.com/documents/56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc"
                      }
                    },
                    "id": "56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc",
                    "status": "pending",
                    "type": "passport",
                    "created": "2015-09-29T21:42:16.000Z",
                    "documentVerificationStatus": "pending"
                  },
                  {
                    "_links": {
                        "self": {
                            "href": "https://api-sandbox.dwolla.com/documents/20988444-c7e1-40cf-ab1a-a20da878e568",
                            "type": "application/vnd.dwolla.v1.hal+json",
                            "resource-type": "document"
                        }
                    },
                    "id": "20988444-c7e1-40cf-ab1a-a20da878e568",
                    "status": "reviewed",
                    "type": "license",
                    "created": "2019-05-30T22:01:40.000Z",
                    "documentVerificationStatus": "rejected",
                    "failureReason": "ScanDobMismatch",
                    "allFailureReasons": [
                        {
                            "reason": "ScanDobMismatch",
                            "description": "Scan DOB does not match DOB on account"
                        },
                        {
                            "reason": "ScanIdExpired",
                            "description": "ID is expired or missing expiration date"
                        }
                    ]
                  }
                ]
              },
              "total": 2
            }
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            var beneficialOwnerUrl =
              "https://api-sandbox.dwolla.com/beneficial-owners/176878b8-ecdb-469b-a82b-43ba5e8704b2";

            dwolla
              .get(`${beneficialOwnerUrl}/documents`)
              .then((res) => res.body._embedded["documents"][0].id); // => '56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc'
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            beneficial_owner_url = 'https://api-sandbox.dwolla.com/beneficial-owners/176878b8-ecdb-469b-a82b-43ba5e8704b2'

            documents = app_token.get('%s/documents' % beneficial_owner_url)
            documents.body['total'] # => 2
        - lang: php
          source: |
            <?php
            // Using dwollaswagger - https://github.com/Dwolla/dwolla-swagger-php
            $beneficialOwnerUrl = 'https://api-sandbox.dwolla.com/beneficial-owners/176878b8-ecdb-469b-a82b-43ba5e8704b2';

            $beneficialOwnersApi = new DwollaSwagger\BeneficialOwnersApi($apiClient);

            $listDocsBeneficialOwner = $beneficialOwnersApi->getBeneficialOwnerDocuments($beneficialOwnerUrl);
            $listDocsBeneficialOwner->total; # => 2
            ?>
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            beneficial_owner_url = 'https://api-sandbox.dwolla.com/beneficial-owners/176878b8-ecdb-469b-a82b-43ba5e8704b2'

            documents = app_token.get "#{beneficial_owner_url}/documents"
            documents._embedded['documents'][0].id # => "56502f7a-fa59-4a2f-8579-0f8bc9d7b9cc"
      parameters:
        - name: id
          in: path
          description: beneficial owner unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      responses:
        '200':
          description: successful operation
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/Documents'
        '403':
          description: Forbidden
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: Not Found
          headers: {}
          content:
            application/vnd.dwolla.v1.hal+json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
    post:
      tags:
        - documents
      summary: Create a document for beneficial owner
      description: Uploads an identity verification document for a beneficial owner using multipart form-data. Required when a beneficial owner has "document" status during the business verification process.
      operationId: createBeneficialOwnerDocument
      x-speakeasy-group: beneficialOwners.documents
      x-speakeasy-name-override: create
      x-codeSamples:
        - lang: bash
          source: |
            curl -X POST
            \ -H "Authorization: Bearer tJlyMNW6e3QVbzHjeJ9JvAPsRglFjwnba4NdfCzsYJm7XbckcR"
            \ -H "Accept: application/vnd.dwolla.v1.hal+json"
            \ -H "Cache-Control: no-cache"
            \ -H "Content-Type: multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW"
            \ -F "documentType=passport"
            \ -F "file=@foo.png"
            \ 'https://api-sandbox.dwolla.com/beneficial-owners/1de32ec7-ff0b-4c0c-9f09-19629e6788ce/documents'

            ...

            HTTP/1.1 201 Created
            Location: https://api-sandbox.dwolla.com/documents/11fe0bab-39bd-42ee-bb39-275afcc050d0
        - lang: javascript
          source: |
            // Using dwolla-v2 - https://github.com/Dwolla/dwolla-v2-node
            // Using form-data - https://github.com/form-data/form-data (Not Maintained By Dwolla)
            var beneficialOwnerUrl = "https://api-sandbox.dwolla.com/beneficial-owners/1DE32EC7-FF0B-4C0C-9F09-19629E6788CE";

            var requestBody = new FormData();
            body.append("file", fs.createReadStream("mclovin.jpg"), {
              filename: "mclovin.jpg",
              contentType: "image/jpeg",
              knownLength: fs.statSync("mclovin.jpg").size,
            });
            body.append("documentType", "license");

            dwolla
              .post(`${beneficialOwnerUrl}/documents`, requestBody)
              .then((res) => res.headers.get("location")); // => "https://api-sandbox.dwolla.com/documents/fb919e0b-ffbe-4268-b1e2-947b44328a16"
        - lang: python
          source: |
            # Using dwollav2 - https://github.com/Dwolla/dwolla-v2-python
            beneficial_owner_url = 'https://api-sandbox.dwolla.com/beneficial-owners/1DE32EC7-FF0B-4C0C-9F09-19629E6788CE'

            document = app_token.post('%s/documents' % customer_url, file = open('mclovin.jpg', 'rb'), documentType = 'license')
            document.headers['location'] # => 'https://api-sandbox.dwolla.com/documents/fb919e0b-ffbe-4268-b1e2-947b44328a16'
        - lang: php
          source: |
            /**
             * No example for this language yet.
             **/
        - lang: ruby
          source: |
            # Using dwolla_v2 - https://github.com/Dwolla/dwolla-v2-ruby
            beneficial_owner_url = 'https://api-sandbox.dwolla.com/beneficial-owners/1DE32EC7-FF0B-4C0C-9F09-19629E6788CE'

            file = Faraday::UploadIO.new('mclovin.jpg', 'image/jpeg')
            document = app_token.post "#{beneficial_owner_url}/documents", file: file, documentType: 'license'
            document.response_headers[:location] # => "https://api.dwolla.com/documents/fb919e0b-ffbe-4268-b1e2-947b44328a16"
      parameters:
        - name: id
          in: path
          description: beneficial owner unique identifier
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Accept'
      requestBody:
        description: Upload a document for a beneficial owner.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                documentType:
                  type: string
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: document created
          headers:
            Location:
              $ref: '#/components/headers/Location'
        '400':
          description: Bad Request
          headers: {}
          content:
[...]
